{% load static %}
<!DOCTYPE html>
<html lang="pt" dir="ltr">
  <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{% block 'title' %}{% endblock %}</title>

  <!-- GOOGLE FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Roboto" rel="stylesheet">
  <link href="{% static 'plugins/material/css/materialdesignicons.min.css' %}" rel="stylesheet" />
  <link href="{% static 'plugins/simplebar/simplebar.css' %}" rel="stylesheet" />

  <!-- PLUGINS CSS STYLE -->
  <link href="{% static 'plugins/nprogress/nprogress.css' %}" rel="stylesheet" />
  
  <link href="{% static 'plugins/prism/prism.css' %}" rel="stylesheet" />
  
  <!-- MONO CSS -->
  <link id="main-css-href" rel="stylesheet" href="{% static 'css/style.css' %}" />

  <!-- FAVICON -->
  <link href="{% static 'images/favicon.png' %}" rel="shortcut icon" />
  <script src="{% static 'plugins/nprogress/nprogress.js' %}"></script>
</head>


  <body class="navbar-fixed sidebar-fixed" id="body">
    <script>
      NProgress.configure({ showSpinner: false });
      NProgress.start();
    </script>
 
    <div class="wrapper">
      
      
        <!-- ====================================
          ——— LEFT SIDEBAR WITH OUT FOOTER
        ===================================== -->
        <aside class="left-sidebar sidebar-dark" id="left-sidebar">
          <div id="sidebar" class="sidebar sidebar-with-footer">
            <!-- Aplication Brand -->
            <div class="app-brand">
              <a href="{% url 'home' %}">
                <span class="brand-name">CloupOne - Agro</span>
              </a>
            </div>
            <!-- begin sidebar scrollbar -->
            <div class="sidebar-left" data-simplebar style="height: 100%;">
              <!-- sidebar menu -->
              <ul class="nav sidebar-inner" id="sidebar-menu">
                  <li>
                    <a class="sidenav-item-link" href="{% url 'home' %}">
                      <i class="mdi mdi-briefcase-account-outline"></i>
                      <span class="nav-text">Dashboard</span>
                    </a>
                  </li>
                  <li class="section-title">
                    Talhão
                  </li>
                  <li>
                    <a class="sidenav-item-link" href="{% url 'fields:import_fields' %}">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cloud-upload" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383"/>
                        <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708z"/>
                      </svg>
                      <i class="bi bi-cloud-upload"></i>
                      <span class="nav-text">Importar dados</span>
                    </a>
                  </li>
                  <li>
                    <a class="sidenav-item-link" href="{% url 'fields:get' %}">
                      <i class="bi bi-cloud-upload"></i>
                      <span class="nav-text">Consulta de talhões</span>
                    </a>
                  </li>
              </ul>
            </div>

            <div class="sidebar-footer">
              <div class="sidebar-footer-content">
                <ul class="d-flex">
                 <!-- <li>
                    <a href="user-account-settings.html" data-toggle="tooltip" title="Profile settings"><i class="mdi mdi-settings"></i></a></li>
                  <li>
                    <a href="#" data-toggle="tooltip" title="No chat messages"><i class="mdi mdi-chat-processing"></i></a>
                  </li>-->
                </ul>
              </div>
            </div>
          </div>
        </aside>

      

      <!-- ====================================
      ——— PAGE WRAPPER
      ===================================== -->
      <div class="page-wrapper">
        
          <!-- Header -->
          <header class="main-header" id="header">
            <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
              <!-- Sidebar toggle button -->
              <button id="sidebar-toggler" class="sidebar-toggle">
                <span class="sr-only">Toggle navigation</span>
              </button>

              <span class="page-title">{% block 'page_title' %}{% endblock %}</span>

              <div class="navbar-right ">
                <ul class="nav navbar-nav">
                  <!-- User Account -->
                  <li class="dropdown user-menu">
                    <button class="dropdown-toggle nav-link" data-toggle="dropdown">
                      <span class="d-none d-lg-inline-block">{{ user.first_name }} {{ user.last_name }}</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li>
                        <a class="dropdown-link-item" href="{% url 'users:user_settings' %}">
                          <i class="mdi mdi-account-outline"></i>
                          <span class="nav-text">Meu perfil</span>
                        </a>
                      </li>
                      <li class="dropdown-footer">
                        <a class="dropdown-link-item" href="{% url 'users:logout' %}"> <i class="mdi mdi-logout"></i> Sair </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>


          </header>

        <!-- ====================================
        ——— CONTENT WRAPPER
        ===================================== -->
        <div class="content-wrapper">
          <div class="content"><!-- For Components documentaion -->

      {% block 'body' %}{% endblock %}
      <!--  </div>
          <footer class="footer mt-auto">
            <div class="copyright bg-white">
              <p>
                &copy; <span id="copy-year"></span> Copyright <a class="text-primary" href="" target="_blank" >Giovani</a>.
              </p>
            </div>
            <script>
                var d = new Date();
                var year = d.getFullYear();
                document.getElementById("copy-year").innerHTML = year;
            </script>
          </footer>

      </div>-->
    </div>
                    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
                    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
                    <script src="{% static 'plugins/simplebar/simplebar.min.js' %}"></script>
                    <script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>

                    <script src="{% static 'plugins/prism/prism.js' %}"></script>
                    <script src="{% static 'plugins/apexcharts/apexcharts.js' %}"></script>
                    
                    <script src="{% static 'js/mono.js' %}"></script>
                    <script src="{% static 'js/chart.js' %}"></script>
                    <script src="{% static 'js/map.js' %}"></script>
                    <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>
